VITE_FIREBASE_API_KEY=API_KEY
VITE_FIREBASE_AUTH_DOMAIN=hello-world-minhub.netlify.app
VITE_FIREBASE_PROJECT_ID=PROJECT_ID
VITE_FIREBASE_STORAGE_BUCKET=STORAGE_BUCKET
VITE_FIREBASE_MESSAGING_SENDER_ID=SENDER_ID
VITE_FIREBASE_APP_ID=APP_ID
VITE_FIREBASE_MEASUREMENT_ID=MEASUREMENT_ID
VITE_RECAPTCHA_SITE_KEY=RECAPTCHA_SITE_KEY
